* 
{
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

.body
{
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.custom-header 
{
  margin-top: 10px;
  background-color: transparent;
  padding: 16px 108px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  z-index: 100;
}

.nav-link
{
  font-size: 20px;
  font-weight: bolder;
}

.nav-link:hover {
  color: #b12828 !important;
  transition: 0.3s ease;
}

.logo 
{
  font-size: 3rem;
  color: #b12828;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover 
{
  transform: scale(1.1);
  color: white;
}

.home 
{
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 120px 100px;
}

.home-img img 
{
  border-radius: 50%;
  height: 375px;
  transition: 0.4s;
}

.home-img img:hover 
{
  transform: scale(1.05);
}

.home-content 
{
  max-width: 600px;
}

.home-content h1 span,
.home-content h3 span 
{
  color: #b12828;
  font-style: italic;
  font-weight: bolder;
}


.social-icons a {
  color: #b12828;
  margin: 0 10px;
  font-size: 1.8rem;
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid #b12828;
  padding: 8px 12px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.social-icons a:hover {
  background-color: #b12828;
  color: white;
  transform: scale(1.1);
}

.btn-outline-danger {
  border-color: #b12828;
  color: #b12828;
  transition: 0.3s;
  margin-left: 2px;
}

.btn-outline-danger:hover {
  background-color: #b12828;
  color: white;
  transform: scale(1.1);
}
